@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    p {
        @apply text-lg
    }

    span {
        @apply text-lg
    }

    .containertest {
        @apply max-w-6xl
    }

    .title-section-white {
        @apply text-center text-4xl md:text-5xl xl:text-5xl font-bold text-black;
    }

    .title-section-blue {
        @apply text-blue font-semibold text-4xl my-5 md:text-5xl xl:text-5xl text-center;
    }

    .h-150 {
        height: 150vh;
    }

    .h-40vh {
        height: 40vh;
    }

    ._300vh {
        height: 300vh;
    }

    .min-h-150 {
        min-height: 150vh;
    }
}

@font-face {
    font-family: 'Luciole';
    src: url('../fonts/Luciole/Luciole-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Puis vous pouvez l'utiliser comme ceci */
:root {
    font-family: 'Luciole', sans-serif;
}



.stroke-black {
    stroke: hsl(39, 100%, 89%);
    stroke-width: 2
}

.stroke-black-2 {
    stroke: rgb(200, 173, 127);
    stroke-width: 2
}


@media (max-height: 640px) {
    .h-sm\:mt-4 {
        margin-top: 4rem;
    }
}

@media (max-height: 640px) {
    .h-sm\:pt-2 {
        padding-top: 2rem;
    }

    .h-sm-hidden {
        display: none !important;
    }
}

